html{
    font-size: 62.5%;
}
.box {
    width: 20rem;
    height: 20rem;
    border: 4px solid yellow;
    padding: 1rem;
    margin: 15px;
    border-radius: 4px;
    text-align: center;
}

.text3{
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
max-width: 50rem;
}
.text1{
    max-width: 10rem;
   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.background{
    width: 100vw;
    height: 100vw;
    background: url(https://images.unsplash.com/photo-1682687220742-aba13b6e50ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80)
    no-repeat center right / cover
}
.image{
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    object-fit: cover;
}
.link{
    text-decoration: none;
    padding: 1rem 5rem;
    text-align: center;
    color: white;
    background-color: violet;
    margin-left: 2rem ;
}
.link:hover {
    color: black;
    background-color: white;
}
.link--rounded{
    border-radius: 4px;
}
.link--round{
    border-radius: 2rem;

}